/*폰트*/
@font-face {
  font-family: 'Ownglyph_UNZ-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Ownglyph_UNZ-Rg';
}

::placeholder {
  font-family: 'Ownglyph_UNZ-Rg';
  font-size: 25px;
}

.center {
  text-align: center;
}

.index-background {
  background: linear-gradient(to bottom, #589ad8, #ffffff);
  min-height: 100vh;
}

.logo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: white;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*네비게이션*/
.navigation{
  background-color: transparent !important;
  box-shadow: none !important;
}

.logoutBtn{
  font-size: 30px !important;
  font-family: 'Ownglyph_UNZ-Rg' !important;
  margin-top: 15px !important;
  margin-right: 15px !important;
}

.add-icon {
  position: relative; 
  z-index: 1 !important; 
}

/*마우스 이동 이벤트*/
.snowfall {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
}

.flake {
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
}

/*산타 클로스*/
/*왼쪽에서 오른쪽으로 이동하는 애니메이션*/
@keyframes moveLeftToRight {
  0% { transform: translate(-20vw, 10vh) rotateY(180deg); }
  100% { transform: translate(100vw, 10vh) rotateY(180deg); }
}

@keyframes moveRightToLeft {
  0% { transform: translate(100vw, 10vh) rotateY(0); }
  100% { transform: translate(-20vw, 10vh) rotateY(0); }
}

@keyframes giftFall {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(calc(100vh - 20px)); }
}

.santa-container{
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.gift-container{
  overflow: hidden;
}

.santaImage{
  width: 100px;
  height: auto;
  position: absolute;
  left: 0 !important;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moveRightToLeft {
  animation-name: moveRightToLeft;
}

.moveLeftToRight {
  animation-name: moveLeftToRight;
}

.falling-gift {
  position: absolute;
  width: 50px; 
  height: 50px; 
  animation-timing-function: linear;
  animation-iteration-count: 1;
  cursor: pointer;
}



/*로고*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  font-size: 120px !important;
  animation: logo-spin 10s linear infinite;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-title {
  font-size: 80px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo-container:hover, .logo-title {
  opacity: 1;
}

/*음성 녹음*/
.voiceIcon {
  font-size: 50px !important;
  cursor: pointer;
  margin-left: 10px;
}

.voiceIcon:hover {
  background-color: rgb(148, 166, 189);
}

.recogMessage {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/*오늘의 운세 팝업창*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 90vh;
  background-image: url('./images/paper.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: white;
  text-align: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.ClosePopup{
  position: absolute;
  font-size: 25px;
  background-color: transparent;
  color: red;
  cursor: pointer;
  border-color: transparent;
  top: 50px;
  right: 200px;
}

.ClosePopup:hover {
  background-color: gray;
}

.fortune-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  font-size: 50px;
  margin-top: 10px;
}

.fortune-content {
  color: black;
  font-size: 30px;
  flex: 1;
  width: 30vw !important;
  overflow-y: auto;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 20px;
  margin-top: 120px;
  box-sizing: border-box;
}

/*로그인 및 회원가입*/
.goSignUp{
  font-size: 20px;
}

.goSignIn{
  font-size: 20px;
}