.center {
  text-align: center;
}

.index-background {
  background: linear-gradient(to bottom, #589ad8, #ffffff);
  min-height: 100vh;
}

.logo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: white;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*마우스 이동 이벤트*/
.snowfall {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
}

.flake {
  position: absolute;
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
}

/*산타 클로스*/
.santaImage{
  width: 100px;
  height: auto;
}

/*왼쪽에서 오른쪽으로 이동하는 애니메이션*/


/*로고*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  font-size: 120px !important;
  cursor: pointer;
  animation: logo-spin 10s linear infinite;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-title {
  font-size: 80px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo-container:hover, .logo-title {
  opacity: 1;
}

/*음성 녹음*/
.voiceIcon {
  font-size: 50px !important;
  cursor: pointer;
  margin-left: 10px;
}

.voiceIcon:hover {
  background-color: rgb(148, 166, 189);
}

/*todoList*/